{{.title}}
{{for item in .items-}}{{item.name}}
{{if $last}} and {{end}}{{item.name}}{{if ! $last}}, {{end-}}
{{end-}}


{{for item in .items-}}
* #{{$index}} {{item.name}} {{.title}} {{if $last}}LAST{{end}}
{{end-}}


hello
